@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 0 0% 100%; /* Bílá */
    --foreground: 0 0% 10%; /* Černá */

    --primary: 270 80% 50%; /* Fialová */
    --primary-foreground: 0 0% 100%; /* Bílá na fialové */

    --secondary: 0 0% 8%; /* Černá */
    --secondary-foreground: 0 0% 100%; /* Bílý text na černé */

    --tertiary: 24 96% 48%; /* Oranžová */
    --tertiary-foreground: 0 0% 100%; /* Bílý text na oranžové */

    --navbar-bg: var(--secondary); /* Černé pozadí navbaru */
    --navbar-text: var(--primary-foreground); /* Bílý text v navbaru */
}

