@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 0 0% 100%; /* Bílá */
    --foreground: 0 0% 10%; /* Černá */
    --primary: 350 80% 50%; /* Červená */
    --primary-foreground: 0 0% 100%;
    --accent: 0 0% 8%; /* Černá */
    --accent-foreground: 0 0% 100%;
    --tertiary: 24 96% 48%; /* Oranžová */
    --tertiary-foreground: 0 0% 100%;
    --navbar-bg: 0 0% 10%;
    --navbar-text: 0 0% 100%;
}
